.navigation__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b294d;
  height: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 2.4rem;
}

.navigation__logo img {
    height: 50px;
    margin-top: 5px;
}

.navigation__elements ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation__elements li {
  padding: 0 0.8rem;
}

.navigation__elements a {
  font-family: "Merriweather", serif;
  color: #fff;
  text-decoration: none;
}

.navigation__elements a:hover,
.navigation__elements a:active {
  color: #a7c2d2;
}

@media (max-width: 768px) {
  .navigation__elements {
    display: none;
  }
}

@media (min-width: 769px) {
  .navigation__header {
    height: 80px;
  }
  .navigation__hamburger-button {
    display: none;
  }
  .navigation__elements a {
    font-size: 1.3rem;
  }
  .navigation__logo img {
      height: 70px;
  }
}
