#air__conditions {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .airly__logo {
      img {
        width: 100px;
      }
    }
  }

  .air__conditions-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      to bottom,
      #ffffff,
      #fafafa,
      #f4f4f4,
      #efefef,
      #eaeaea
    );
    background-size: 100%;

    .results {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .legend {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h3 {
      text-align: center;
      border-bottom: 1px solid #0b294d;
      color: #0b294d;
    }
    p {
      color: #000;
      text-align: center;
      padding: 0 20px;
      line-height: 1.5rem;
    }
  }
}

@media (min-width: 769px) {
  #air__conditions {
    .form__section {
      .airly__logo {
        img {
          width: 200px;
        }
      }
    }
    .air__conditions-info {
      flex-direction: row;
      .results {
        width: 40%;
        justify-content: flex-start;
        h2 {
          font-size: 1.7rem;
        }
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }

      .legend {
        width: 40%;
        justify-content: flex-end;
        padding-bottom: 60px;
      }
    }
  }
}
